body {
  margin: 0;
  background-color: white;
  color: black;

}

footer {
  margin: 0;
  background-color: white;
  color: white;


}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    width: 200px;
    opacity: 0.2;
}

h1 {
  background-color: white;
  margin: 0;
  padding: 10px 0px 0px 0px;

}

.nav {
	margin: 0;
	background-color: white;
	color: black;
	list-style: none;
	text-align: center;
	padding: 0px 0px 5px 0px;

}

.nav > li {
		display: inline-block;
		padding: 0 25px 0 25px;

}

.nav > li > a {
		text-decoration: none;
		color: black;

}

.nav > li > a:hover {
  color: #e6e6e6;

}

video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover;
}
